  <div class="jumbotron" style="max-width:90%;margin-left: auto;
  margin-right: auto;">
    <h1 class="title" style="color:#229999">风帽子快聘网</h1>
    <p class="slogan">风帽子快聘网  是一个“不让有才的你等太久”的闪电求职网站。
    <br>
    <br>
      我们希望通过这个网站，能够让更多有才华的人能够在最短的时间里匹配上最适合自己的工作。
    <br>
    <br>
      用自己的才智与汗水书写自己的闪亮人生！
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
  </div>


<section id="company" style="max-width:90%;margin-top:12px;margin-left: auto;
margin-right: auto;">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4  ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption " >
            <h3 >上海是陆家嘴经贸大厦</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@hatter.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>021-8560311</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
