
<div class="well landing;text-center" style="max-width:90%;margin-top:12px;margin-left: auto;
margin-right: auto;">
  <div class="text-center">
    <h2 >「疯帽子」品牌故事</h2><br>
    <h5 >疯帽子集团成立于2017年1月1日，由四位跨界青年创。最开始他们完全不知道自己成立一个公司到底要做什么！</h5>
    <h5>只是觉得年龄到了，到了可以玩儿公司的年龄。就是这么简单的开头却在后面书写了疯帽子品牌的传奇历史！</h5>
    <h5>如今疯帽子旗下已有：</h5>
    <div class="text-left" style="margin-left:280px">
      <br><li>光阴的故事教育科技有限公司</li>
      <br><li>Summer恋上咖啡屋连锁咖啡店</li>
      <br><li>Aller翻译有限公司</li>
    </div>
  </div>
</div>

<div class="well landing;text-center" style="max-width:90%;margin-top:12px;margin-left: auto;
margin-right: auto;">
  <h2 class="text-center"> 关于疯帽子快聘网 </h2><br>

  <div class="text-center">
      <br><img style="width:250px;height:250px;" alt="Brand" src="/assets/logo.png"></img><br>

      <br><h4>有任何疑问,请来信: qqdream826@gmail.com </h4>
      <br><h4> 本站已开源,开源地址: <%= link_to("https://github.com/luorenyu/job_listing", "https://github.com/luorenyu/job_listing") %> ,欢迎 Fork!</h4>
      <br><h4> 程序若有任何问题,请联系上面又想或直接修复并拉 pull-request.</h4><br>
  </div>


  <!-- <h2> TODO </h2>

  <div class="desc">
    <p>
      <ul>

        <br><ul> 付费 highlight 功能 </ul><br>

      </ul>
    </p>
  </div> -->
</div>
